.card {
  overflow: hidden;
  position: relative;
  background-color: transparent;
  padding: 0;
  transition: filter 0.2s;
  background-color: var(--localBgColor);
  filter: var(--localFilter);
  backdrop-filter: var(--localBackdropFilter);
  transition: background-color 0.4s ease;
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
}

@media only screen and (pointer: fine) {
  .card {
    &:hover {
      filter: var(--localFilterHover);
      backdrop-filter: var(--localBackdropFilterHover);
      background-color: var(--localBgHoverColor) !important;
    }
    &.brc:hover {
      border-radius: var(--localBorderHoverRadius) !important;
      background-color: var(--localBgHoverColor) !important;
    }
  }
}

.flipCard {
  margin: auto 0;
  position: relative;
  z-index: 5;
  perspective: 1000px; /* Enables 3D perspective */
  cursor: pointer;
  .cardInner {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease; /* Smooth flip animation */
  }
  // &:not(.clicked) .cardInner {
  //   transform: rotateY(0deg);
  // }
  // &.clicked .cardInner {
  //   transform: rotateY(180deg);
  // }
  .cardFront,
  .cardBack {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    backface-visibility: hidden; /* Hides the back when flipped */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
  }
  .cardFront {
    background-color: var(--localBgColor);
    filter: var(--localFilter);
    backdrop-filter: var(--localBackdropFilter);
    & > * {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .cardBack {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--localBgHoverColor);
    filter: var(--localFilterHover);
    backdrop-filter: var(--localBackdropFilterHover);
    // transform: translate(-50%, -50%) rotateY(180deg);
    & > * {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  // hoverEffects /\ upper is horizontal
  &.horizontal {
    &:not(.clicked) .cardInner {
      transform: rotateY(0deg);
    }
    &.clicked .cardInner {
      transform: rotateY(180deg);
    }
    .cardBack {
      transform: translate(-50%, -50%) rotateY(180deg);
    }
  }
  &.vertical {
    &:not(.clicked) .cardInner {
      transform: rotateX(0deg);
    }
    &.clicked .cardInner {
      transform: rotateX(180deg);
    }
    .cardBack {
      transform: translate(-50%, -50%) rotateX(180deg);
    }
  }
  &.sticker {
    .cardFront {
      clip-path: polygon(100% 0, 100% 80%, 80% 100%, 0 100%, 0 0);
      position: relative;
      
      &::after {
        content: "";
        position: absolute;
        background-color: var(--localBgHoverColor);
        height: 20%;
        width: 20%;
        bottom: 0;
        right: 0;
        z-index: 5;
        border-top-left-radius: 25px;
      }
    }
    &:not(.clicked) .cardInner {
      // transform: rotateY(0deg);
    }
    &.clicked .cardInner {
      // transform: rotateY(180deg);
    }
    .cardInner {
      border-radius: 25px;
      overflow: hidden;
      transition: clip-path 0.6s ease 0.1s;
      clip-path: polygon(100% 0, 100% 80%, 80% 100%, 0 100%, 0 0);
    }
    .cardBack {
      top: 0;
      left: 0;
      transform: translate(80%, 80%);
      transition: transform 0.6s ease;
    }
    &.clicked {
      .cardInner {
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
      }
      .cardBack {
        transform: translate(0%, 0%);
      }
    }
  }
}

@media only screen and (pointer: fine) {
  .flipCard:hover {
    &.horizontal {
      .cardInner {
        transform: rotateY(180deg);
      }
    }
    &.vertical {
      .cardInner {
        transform: rotateX(180deg);
      }
    }
    &.sticker {
      .cardInner {
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
      }
      .cardBack {
        transform: translate(0%, 0%);
      }
    }
  }
}