.inputFloatinglabel {
    position: relative;
    margin: 3rem 0 0 0;
    height: min-content;
    label {
      position: absolute;
      top: 50%;
      white-space: nowrap;
      transform: translateY(-50%);
      transition: top 0.4s ease-in-out, color 0.4s ease-in-out;
      color: var(--black-50);
      pointer-events: none; // Disable click interaction on label
    }
    .active {
      top: -35%;
      color: var(--color-ascent);
    }
  
    input {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 100%;
      outline: none;
      transition: border-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
      &:focus {
        border-color: var(--color-ascent);
        box-shadow: 0 0 5px var(--black-50);
      }
    }
  }