.portfolioRotatedGridContainer {
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 82px;
  justify-content: center;
  position: relative;
  .box {
    margin: auto 0;
    // background-color: rgba(var(--color-primary, 0, 0, 0), 0.9);
    background-color: rgb(from var(--color-secondary) r g b / 0.25);
    border-radius: 15px;
    width: 150px;
    aspect-ratio: 1 / 1;
    transition: transform 0.75s;
    transform: rotate(45deg);
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    &:nth-of-type(1) {
      left: -539px;
    }
    &:nth-of-type(2) {
      left: -307px;
    }
    &:nth-of-type(3) {
      left: -75px;
    }
    &:nth-of-type(4) {
      left: 157px;
    }
    &:nth-of-type(5) {
      left: 389px;
    }
    &:nth-of-type(6) {
      left: -423px;
      top: 116px;
    }
    &:nth-of-type(7) {
      left: -191px;
      top: 116px;
    }
    &:nth-of-type(8) {
      left: 41px;
      top: 116px;
    }
    &:nth-of-type(9) {
      left: 273px;
      top: 116px;
    }
    .inner {
      width: 100%;
      height: 100%;
      transition: transform 0.75s;
      transform: rotate(-45deg);
      display: flex;
      align-content: center;
      justify-content: center;
      img {
        height: 100%;
        width: auto;
      }
    }
    &:hover {
      transform: rotate(0deg) scale(1.75);
      z-index: 10;
      .inner {
        transform: rotate(0deg);
      }
    }
  }
  @media only screen and (max-width: 1300px) {
    height: 350px;
    .box {
      &:nth-of-type(1) {
        left: -360px;
      }
      &:nth-of-type(2) {
        left: -128px;
      }
      &:nth-of-type(3) {
        left: 104px;
      }
      &:nth-of-type(4) {
        left: -244px;
        top: 116px;
      }
      &:nth-of-type(5) {
        left: -12px;
        top: 116px;
      }
      &:nth-of-type(6) {
        left: 220px;
        top: 116px;
      }
      &:nth-of-type(7) {
        left: -360px;
        top: 232px;
      }
      &:nth-of-type(8) {
        left: -128px;
        top: 232px;
      }
      &:nth-of-type(9) {
        left: 104px;
        top: 232px;
      }
    }
  }
  @media only screen and (max-width: 970px) {
    height: 600px;
    .box {
      &:nth-of-type(1) {
        left: -254px;
      }
      &:nth-of-type(2) {
        left: -22px;
      }
      &:nth-of-type(3) {
        left: -138px;
        top: 116px;
      }
      &:nth-of-type(4) {
        left: 94px;
        top: 116px;
      }
      &:nth-of-type(5) {
        left: -254px;
        top: 232px;
      }
      &:nth-of-type(6) {
        left: -22px;
        top: 232px;
      }
      &:nth-of-type(7) {
        left: -138px;
        top: 348px;
      }
      &:nth-of-type(8) {
        left: 94px;
        top: 348px;
      }
      &:nth-of-type(9) {
        left: -254px;
        top: 464px;
      }
    }
  }
}
