.portfolioRotatedGridContainer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 82px;
  justify-content: center;
  position: relative;
  // left: -58px;
  top: 1rem;
  .box {
    margin: auto 0;
    // background-color: rgba(var(--color-primary, 0, 0, 0), 0.9);
    background-color: rgb(from var(--color-secondary) r g b / 0.25);
    border-radius: 15px;
    width: 150px;
    aspect-ratio: 1 / 1;
    transition: transform 1s;
    transform: rotate(45deg);
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    &:nth-of-type(1) {
      left: -290px;
    }
    &:nth-of-type(2) {
      left: -58px;
    }
    &:nth-of-type(3) {
      left: 174px;
    }
    &:nth-of-type(4) {
      left: 406px;
    }
    &:nth-of-type(5) {
      left: 638px;
    }
    &:nth-of-type(6) {
      left: -174px;
      top: 116px;
    }
    &:nth-of-type(7) {
      left: 58px;
      top: 116px;
    }
    &:nth-of-type(8) {
      left: 290px;
      top: 116px;
    }
    &:nth-of-type(9) {
      left: 522px;
      top: 116px;
    }
    .inner {
      width: 100%;
      height: 100%;
      transition: transform 1s;
      transform: rotate(-45deg);
      // background-color: green;
      display: flex;
      align-content: center;
      justify-content: center;
      img {
        // width: 100x%;
        height: 100%;
        width: auto;
      }
    }
    &:hover {
      transform: rotate(0deg) scale(1.75);
      z-index: 10;
      .inner {
        transform: rotate(0deg);
      }
    }
  }
  // @media only screen and (max-width: 1500px) {
  //   width: 90%;
  // }
  @media only screen and (max-width: 1300px) {
    left: -58px;
    height: 350px;
    // height: 450px;
    .box {
      &:nth-of-type(1) {
        left: -58px;
      }
      &:nth-of-type(2) {
        left: 174px;
      }
      &:nth-of-type(3) {
        left: 406px;
      }
      &:nth-of-type(4) {
        left: 58px;
        top: 116px;
      }
      &:nth-of-type(5) {
        left: 290px;
        top: 116px;
      }
      &:nth-of-type(6) {
        left: 522px;
        top: 116px;
      }
      &:nth-of-type(7) {
        left: -58px;
        top: 232px;
      }
      &:nth-of-type(8) {
        left: 174px;
        top: 232px;
      }
      &:nth-of-type(9) {
        left: 406px;
        top: 232px;
      }
    }
  }
  // @media only screen and (max-width: 1152px) {
  //   width: 80%;
  //   .box {
  //     &:nth-of-type(4),
  //     &:nth-of-type(5),
  //     &:nth-of-type(6) {
  //       left: 116px;
  //       top: -34px;
  //     }
  //     &:nth-of-type(7),
  //     &:nth-of-type(8),
  //     &:nth-of-type(9) {
  //       left: 0px;
  //       top: -68px;
  //     }
  //   }
  // }
  @media only screen and (max-width: 970px) {
    left: 58px;
    height: 600px;
    .box {
      &:nth-of-type(1) {
        left: -58px;
      }
      &:nth-of-type(2) {
        left: 174px;
      }
      &:nth-of-type(3) {
        left: 58px;
        top: 116px;
      }
      &:nth-of-type(4) {
        left: 290px;
        top: 116px;
      }
      &:nth-of-type(5) {
        left: -58px;
        top: 232px;
      }
      &:nth-of-type(6) {
        left: 174px;
        top: 232px;
      }
      &:nth-of-type(7) {
        left: 58px;
        top: 348px;
      }
      &:nth-of-type(8) {
        left: 290px;
        top: 348px;
      }
      &:nth-of-type(9) {
        left: -58px;
        top: 464px;
      }
    }
  }
  @media only screen and (max-width: 760px) {
    left: 58px;
    height: 700px;
    .box {
      &:nth-of-type(1) {
        left: -58px;
      }
      &:nth-of-type(2) {
        left: 174px;
      }
      &:nth-of-type(3) {
        left: 58px;
        top: 116px;
      }
      &:nth-of-type(4) {
        left: 290px;
        top: 116px;
      }
      &:nth-of-type(5) {
        left: -58px;
        top: 232px;
      }
      &:nth-of-type(6) {
        left: 174px;
        top: 232px;
      }
      &:nth-of-type(7) {
        left: 58px;
        top: 348px;
      }
      &:nth-of-type(8) {
        left: 290px;
        top: 348px;
      }
      &:nth-of-type(9) {
        left: -58px;
        top: 464px;
      }
    }
  }
  // @media only screen and (max-width: 667px) {
  //   max-height: 350px;
  //   column-gap: 62px;
  //   left: -41px;
  //   .box {
  //     //   border-radius: 0px;
  //     width: 100px;
  //     &:nth-of-type(2) {
  //       left: 0px;
  //       top: 0px;
  //     }
  //     &:nth-of-type(3) {
  //       left: 81px;
  //       top: -19px;
  //     }
  //     &:nth-of-type(4) {
  //       left: 81px;
  //       top: -19px;
  //     }
  //     &:nth-of-type(5) {
  //       left: 0px;
  //       top: -39px;
  //     }
  //     &:nth-of-type(6) {
  //       left: 0px;
  //       top: -39px;
  //     }
  //     &:nth-of-type(7) {
  //       left: 81px;
  //       top: -58px;
  //     }
  //     &:nth-of-type(8) {
  //       left: 81px;
  //       top: -58px;
  //     }
  //     &:nth-of-type(9) {
  //       left: -81px;
  //       top: -77px;
  //     }
  //   }
  // }
  // @media only screen and (max-width: 447px) {
  //   // width: 70%;
  //   max-height: 700px;
  //   column-gap: 62px;
  //   left: -41px;
  //   .box {
  //     //   border-radius: 0px;
  //     width: 100px;
  //     &:nth-of-type(2) {
  //       left: 81px;
  //       top: -19px;
  //     }
  //     &:nth-of-type(3) {
  //       left: 0px;
  //       top: -39px;
  //     }
  //     &:nth-of-type(4) {
  //       left: 81px;
  //       top: -58px;
  //     }
  //     &:nth-of-type(5) {
  //       left: 0px;
  //       top: -77px;
  //     }
  //     &:nth-of-type(6) {
  //       left: 81px;
  //       top: -96px;
  //     }
  //     &:nth-of-type(7) {
  //       left: 0px;
  //       top: -115px;
  //     }
  //     &:nth-of-type(8) {
  //       left: 81px;
  //       top: -134px;
  //     }
  //     &:nth-of-type(9) {
  //       left: 0px;
  //       top: -153px;
  //     }
  //   }
  // }
}
