.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    // cursor: grab;
    // &:active{
    //     cursor: grabbing;
    // }
  .navBtn {
    font-size: large;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    height: 100%;
    border: none;
    cursor: pointer;
    width: clamp(20px, 7%, 100px);
    &::before{
      content: "";
      position: absolute;
      z-index: -1;
      height: 10%;
      width: 80%;
      background-color: transparent;
      backdrop-filter: var(--localBackdropFilterArrows);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.leftBtn {
      left: 0px;
      // background: linear-gradient(90deg, var(--color-background) 0%, transparent 25%);
    }
    &.rightBtn {
      right: 0px;
      // background: linear-gradient(270deg, var(--color-background) 0%, transparent 25%);
    }
  }
  .carouselInner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    .carouselItem {
      width: 100%;
      height: auto;
      position: relative;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent; // Example background color
      img {
          width: 100%;
          height: auto;
          -webkit-user-drag: none;
      }
    }
  }
  // &.cube .carouselInner .carouselItem {
    // position: absolute;
    // transition: transform 0.5s, opacity 0.5s;
    // &.leftToActive {
    //   transform: translateY(-10px) scaleX(0) skewY(10deg) !important;
    //   opacity: 0.5;
    // }
    // &.active {
    //   position: relative;
    //   transform: translateY(0px) scaleX(1) !important;
    //   opacity: 1;
    // }
    // &.rightToActive {
    //   transform: translateY(-10px) scaleX(0) skewY(-10deg) !important;
    //   opacity: 0.5;
    // }
    // &.other{
    //   transform: translateY(0px) scaleX(0) !important;
    //   opacity: 0.5;
    // }
  // }
}

