#article-footer {
  margin-top: auto;
  background-color: var(--black-75);
  color: var(--color-text-light-still);
  width: 100vw;
  .footer-container {
    width: 100%;
    max-width: var(--breakpoint-1440);
    .footer-container-info {
      margin: 0;
      max-width: 1440px;
      padding: 2rem clamp(1rem, 5%, 4rem);
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      position: relative;
      .footer-nav {
        margin: 0;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        span {
          font-family: var(--font-primary);
          font-size: var(--fontsize-h4);
          margin: 0;
        }
        ul {
          margin: 0 auto;
          li {
            padding: 0.5rem;
            text-align: left;
            a {
              padding: 0.5rem;
              color: var(--color-text-light-still);
              text-decoration: none;
              opacity: 0.75;
              font-size: var(--fontsize-h6);
              font-family: var(--font-secondary);
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
      .footer-contacts {
        margin: 0;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        span {
          font-family: var(--font-primary);
          font-size: var(--fontsize-h4);
          margin: 0;
        }
        .footer-icons {
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: clamp(110px, 33vw, 130px);
          justify-content: left;
          gap: 1rem;
          a {
            display: block;
            margin: 0;
            width: clamp(20px, 5vw, 25px);
            height: clamp(20px, 5vw, 25px);
            svg {
              max-width: 100%;
              max-height: 100%;
              path {
                fill: var(--color-text-light-still);
                opacity: 0.75;
              }
              &:hover path {
                opacity: 1;
              }
            }
          }
          .footer-email,
          .footer-phone {
            display: block;
            position: relative;
            margin: 0;
            cursor: pointer;
            width: clamp(20px, 5vw, 25px);
            height: clamp(20px, 5vw, 25px);
            svg {
              max-width: 100%;
              max-height: 100%;
              path {
                fill: var(--color-text-light-still);
                opacity: 0.75;
              }
              &:hover path {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .footer-container-copyright {
      margin: 0;
      max-width: 1440px;
      padding: 2rem clamp(1rem, 5%, 4rem);
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      p {
        font-size: var(--fontsize-small);
        font-family: var(--font-secondary);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;
        row-gap: 5px;
        align-items: center;
        place-content: center;
        span {
          margin: auto 0;
        }
        a {
          margin: 5px 5px;
          padding: 10px 20px;
          background-color: rgb(from var(--color-text-light-still) r g b / 0.75);;
          border-radius: var(--border-radius-btn);
          color: var(--color-text-dark-still);
          text-decoration: none;
          font-family: var(--font-secondary);
          font-size: var(--fontsize-small);
        }
      }
    }
  }
}
