.main {
  // Main element have defaults styles inside globals.scss
  .sectionTitle {
    margin: 0;
    text-align: left;
  }
  section.contacts {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    flex-wrap: wrap;
  
    .contentContainer {
      margin: 0;
      flex: 1 1 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
  
      .titleContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
  
        & > span {
          margin: auto 0;
          text-align: left;
          font-family: var(--font-primary);
          font-weight: 700;
          color: var(--color-ascent);
        }
  
        & > h1 {
          margin: auto 0;
          text-align: left;
  
          strong {
            color: var(--color-ascent);
          }
        }
  
        & > hr {
          margin: 0.5rem 0;
          width: 33%;
          border: 1px solid var(--color-ascent);
        }
      }
  
      .mainContacts {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
  
        .address,
        .phone,
        .email,
        .ico {
          text-decoration: none;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          border-radius: 25px;
          margin: 0;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          width: min-content;

          .specContainer {
            position: relative;
            margin: auto 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            min-width: 100%;
            right: calc(clamp(16px, 2vw, 24px) + 2 * clamp(10px, 1.5vw, 15px) + 1rem);
  
            .contactTitle {
              position: relative;
              padding-left: calc(clamp(16px, 2vw, 24px) + 2 * clamp(10px, 1.5vw, 15px) + 1rem);
              width: calc(100% - padding-left);
              margin: 0;
              text-align: left;
              font-family: var(--font-primary);
              font-size: var(--fontsize-h6);
  
              span {
                position: absolute;
                margin: -4px 0 0 5px;
                padding: 5px 15px;
                border-radius: 20px;
                font-family: var(--font-secondary);
                font-size: var(--fontsize-small);
                color: var(--color-text-reverse);
                background: var(--color-ascent);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: initial;
              }
            }
  
            .contactValue {
              position: relative;
              padding-left: calc(clamp(16px, 2vw, 24px) + 2 * clamp(10px, 1.5vw, 15px) + 1rem);
              width: calc(100% - padding-left);
              margin: 0;
              text-align: left;
              white-space: nowrap;
              font-family: var(--font-secondary);
              font-size: var(--fontsize-small);
            }
          }
  
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 25px;
            background-color: var(--color-primary);
            transform: translateX(-100%);
            transition: transform 0.4s ease;
          }
  
          .specContainer .contactTitle,
          .specContainer .contactValue {
            background: linear-gradient(
              to right,
              var(--color-text-reverse) 50%,
              var(--color-text) 50%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background-position 0.4s ease;
            background-size: 200% 100%;
            background-position: 100% 0;
          }
        }
      }
  
      h2 {
        margin: 0;
        text-align: left;
        font-size: var(--fontsize-h6);
      }
  
      .additionalContacts {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
      }
    }
  
    .imgContainer {
      margin: 0;
      flex: 1 1 40%;
      display: flex;
      align-items: center;
  
      img {
        width: 75%;
        height: auto;
      }
    }
  
    .iconContainer {
      margin: auto 0;
      background-color: var(--color-primary);
      padding: clamp(10px, 1.5vw, 15px);
      border-radius: 50px;
      height: clamp(16px, 2vw, 24px);
      width: clamp(16px, 2vw, 24px);
      cursor: pointer;
      display: flex;
      align-content: center;
  
      svg {
        height: clamp(16px, 2vw, 24px);
        width: clamp(16px, 2vw, 24px);
        fill: var(--color-text-reverse);
      }
    }
  }
  
  section.form {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    .titleContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
      & > span {
        margin: auto 0;
        text-align: left;
        font-family: var(--font-primary);
        font-weight: 700;
        color: var(--color-ascent);
      }
      & > h1 {
        margin: auto 0;
        text-align: left;
        strong {
          color: var(--color-ascent);
        }
      }
      & > hr {
        margin: 0.5rem 0;
        width: 33%;
        border: 1px solid var(--color-ascent);
      }
    }
  }
}

@media only screen and (pointer: fine) {
  .main {
    section.contacts {
      .contentContainer {
        .mainContacts {
          .address,
          .phone,
          .email,
          .ico {
            &:hover {
              .specContainer h6, .specContainer span {
                background-position: 0 0;
              }
              &::before {
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
  }
}
