.main {
  // Main element have defaults styles inside globals.scss
  section.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media only screen and (max-width: 480px) {
      flex-direction: column;
    }
    div {
      flex: 1 1 30%;
    }
    .imgContainer {
      img {
        width: 80%;
        height: auto;
      }
    }
    .contentContainer {
      display: flex;
      flex-direction: column;
      justify-content: left;
      gap: 1.5rem;
      .titleContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        & > span {
          margin: auto 0;
          text-align: left;
          font-family: var(--font-primary);
          font-weight: 700;
          color: var(--color-ascent);
        }
        & > h1 {
          margin: auto 0;
          text-align: left;
          strong {
            color: var(--color-ascent);
          }
        }
        & > hr {
          margin: 0.5rem 0;
          width: 33%;
          border: 1px solid var(--color-ascent);
        }
      }
      .textContainer {
        margin: auto 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 0.5rem;
        & > p {
          margin: auto 0;
          text-align: left;
          // font-size: var(--fontsize-small);
          max-width: 55ch;
        }
      }
      .btnsContainer {
        margin: auto 0;
        display: flex;
        flex-direction: row;
        gap: 15px;
      }
    }
  }
  section.portfolio {
    // max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.5rem;
    .contentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      .titleContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        & > span {
          font-family: var(--font-primary);
          font-weight: 700;
          color: var(--color-ascent);
        }
        & > h1 {
          strong {
            color: var(--color-ascent);
          }
        }
        & > hr {
          margin: 0.5rem auto;
          width: 33%;
          border: 1px solid var(--color-ascent);
        }
      }
      .textContainer {
        margin: auto 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 0.5rem;
        & > p {
          // font-size: var(--fontsize-small);
          max-width: 75ch;
        }
      }
    }
  }
  section.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media only screen and (max-width: 480px) {
      flex-direction: column-reverse;
    }
    div {
      flex: 1 1 30%;
    }
    .imgContainer {
      img {
        width: 80%;
        height: auto;
      }
    }
    .contentContainer {
      display: flex;
      flex-direction: column;
      justify-content: left;
      gap: 1.5rem;
      .titleContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        & > span {
          margin: auto 0;
          text-align: left;
          font-family: var(--font-primary);
          font-weight: 700;
          color: var(--color-ascent);
        }
        & > h1 {
          margin: auto 0;
          text-align: left;
          strong {
            color: var(--color-ascent);
          }
        }
        & > hr {
          margin: 0.5rem 0;
          width: 33%;
          border: 1px solid var(--color-ascent);
        }
      }
      .textContainer {
        margin: auto 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 0.5rem;
        & > p {
          margin: auto 0;
          text-align: left;
          // font-size: var(--fontsize-small);
          max-width: 55ch;
        }
        & > ul {
          margin: auto 0;
          list-style: none; // Removes default bullet points
          padding: 0;

          & > li {
            text-align: left;
            font-size: var(--fontsize-p);
            color: var(--color-text);
            font-family: var(--font-primary);
            padding: 0.5rem 0;
            position: relative;
          }
        }
      }
    }
  }
  section.NEXTSECTION {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    .titleContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
      & > span {
        font-family: var(--font-primary);
        font-weight: 700;
        color: var(--color-ascent);
      }
      & > h1 {
        strong {
          color: var(--color-ascent);
        }
      }
      & > hr {
        margin: 0.5rem auto;
        width: 33%;
        border: 1px solid var(--color-ascent);
      }
    }
    .textContainer {
      margin: auto 0;
      display: flex;
      flex-direction: column;
      justify-content: left;
      gap: 0.5rem;
      & > p {
        // font-size: var(--fontsize-small);
        max-width: 75ch;
      }
    }
  }
}
